extends layout

block content 
    h1 Welcome to Triangular number Calculation!

    form(action="/trackName", method='post')
        input(type='text', name='username', placeholder="Please enter your first name" required)
        button(type='submit') Submit