doctype html 
html(lang="en")
    head 
        title week-3-assignment 
        link(rel='stylesheet', href="css/style.css")
    body
        img(src="images/triangular-number.png") 
        block content