extends layout 

block content
    if queryname
        h1= `Hi, ${queryname}, ${username} has loged in.`
    else 
        h1= `Welcome, ${username}`

    form(action="/logout", method="post")
        button(type="submit") Log out
        